* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
/* shared style */
.btn {
    background: linear-gradient(370deg, #F7E93F , #FB09B4 51%, #9500ff 100%);
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 50px;
    color: white;
    border: none;
}

/* Main style */
header {
    width: 100%;
    background-color: #1A0B2E;
}
nav {
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
nav .logo h1 {
    font-size: 40px;
    color: white;
}
nav .logo span {
  color: #F7E93F;
  background-image: linear-gradient(370deg, #F7E93F , #FB09B4 51%, #9500ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav ul {
    display: flex;
    gap: 32px;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: white;
}