* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
/* shared style */
.btn {
    background: linear-gradient(370deg, #F7E93F , #FB09B4 51%, #9500ff 100%);
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 50px;
    color: white;
    border: none;
}

/* Main style */
header {
    width: 100%;
    background-color: #1A0B2E;
    border-bottom: 1px solid #412567;
}
nav {
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
nav .logo h1 {
    font-size: 40px;
    color: white;
}
nav .logo span {
  color: #F7E93F;
  background-image: linear-gradient(370deg, #F7E93F , #FB09B4 51%, #9500ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav ul {
    display: flex;
    gap: 32px;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: white;
}




.hero {
    width: 100%;
    height: 760px;
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero-container {
    width: 35%;
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0;
}
.hero-container .hero-image {
    width: 100%;
    position: relative;
}
.hero-container .hero-image .microphone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero-image p {
    position: absolute;
    top: 0;
    right: 130px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00FF88;
    padding: 8px 16px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px #00FF88;
}
.hero-container .hero-content h2 {
    font-size: 60px;
    font-weight: bolder;
    color: white;
    margin-top: 40px;
}
.hero-container .hero-content p {
    font-size: 16px;
    font-weight: 200;
    color: whitesmoke;
    margin-top: 8px;
    margin-bottom: 24px;
}
.hero-container .hero-content .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}