* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #1A0B2E;
}

/* Header Section */
header {
    width: 100%;
    background-color: #1A0B2E;
    border-bottom: 1px solid #412567;
}

nav {
    width: 100%;
    max-width: 1600px;
    height: 92px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
}

nav .logo h1 {
    font-size: 40px;
    color: white;
}

nav .logo span {
    color: #F7E93F;
    background-image: linear-gradient(370deg, #F7E93F, #FB09B4 51%, #9500ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav ul {
    display: flex;
    gap: 32px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: white;
    transition: 0.6s ease, transform 0.3s ease;
}

nav ul li a:hover {
    color: #00FF88;
}

.btn {
    position: relative;
    background: linear-gradient(370deg, #F7E93F, #FB09B4 51%, #9500ff);
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 50px;
    color: white;
    border: none;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn::before {
    position: absolute;
    content: "";
    inset: 0;
    background: linear-gradient(370deg, #9500ff, #ff00b3 20%, #F7E93F);
    opacity: 0;
    transition: opacity 0.6s ease;
    z-index: -10;
}

.btn:hover {
    transform: translateY(-2px);
}

.btn:hover::before {
    opacity: 1;
}

.cta {
    display: flex;
    align-items: center;
}

.menubar {
    width: 24px;
    display: none;
}



/* Hero Section */
.hero {
    width: 100%;
    height: 760px;
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-container {
    width: 75%;
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0;
}

.hero-container .hero-image {
    position: relative;
    width: 350px;
    height: 350px;
    background-image: url("./assets/hero-circle.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.hero-image p {
    position: absolute;
    top: 0;
    right: 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00FF88;
    padding: 8px 16px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px #00FF88;
    animation: bouns 1.3s ease-in-out 1s infinite alternate;
}

/* .hero-image p bounch animation */
@keyframes bouns {
    from {
        top: 0;
    }

    to {
        top: 15px;
    }
}

.hero-container .hero-content h2 {
    font-size: 60px;
    font-weight: bolder;
    color: white;
    margin-top: 40px;
}

.hero-container .hero-content p {
    font-size: 16px;
    font-weight: 300;
    color: whitesmoke;
    margin-top: 8px;
    margin-bottom: 24px;
}

.hero-container .hero-content .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.hero-content .buttons .btn-green {
    background-color: transparent;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 50px;
    color: #00FF88;
    border: 1px solid #00FF88;
    cursor: pointer;
    transition: 0.6s ease, transform 0.3s ease;
}

.hero-content .buttons .btn-green:hover {
    background-color: #00FF88;
    color: black;
    transform: translateY(-2px);
}





/* About section */
.about {
    background-color: #1A0B2E;
}

.about-container {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.about .about-content {
    padding-top: 50px;
}

.about .about-content h2 {
    font-size: 48px;
    font-weight: bold;
    color: white;
    margin-bottom: 16px;
}

.about .about-content .p-1 {
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    color: white;
}

.about .about-content .p-2 {
    font-size: 16px;
    font-weight: 300;
    color: white;
    margin-top: 30px;
}

.about hr {
    margin: 80px 0;
    border: none;
    height: 2px;
    background-color: #28232e;
}

.about .about-box {
    display: flex;
    gap: 22px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 120px;
}

.about-box .card h2 {
    font-size: 48px;
    font-weight: 900;
    color: #00FF88;
    margin-bottom: 16px;
}

.about-box .card p {
    font-size: 16px;
    font-weight: 400;
    color: white;
}




/* Why Choose Section  */
.grid {
    background-color: #230E3D;
}

.grid-container {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 120px 0;
}

.grid-container h2 {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 40px;
    color: white;
}

.grid-container .grid-boxes {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 250px);
}

.box-1 {
    grid-column: span 1;
    grid-row: span 2;
    padding: 106px 40px;
}

.box-2 {
    grid-column: span 2;
    grid-row: span 1;
    padding: 40px;
}

.box-3 {
    grid-column: span 2;
    grid-row: span 1;
    padding: 40px;
    height: 320px;

}

.box-4 {
    grid-column: span 1;
    grid-row: span 1;
    padding: 40px;
    height: 320px;
}

.grid-boxes .box {
    width: 100%;
    background-color: #351165;
    border-radius: 40px;
}

.grid-boxes .box img {
    width: 60px;
    margin-bottom: 20px;
}

.grid-boxes .box h3 {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-bottom: 16px;
}

.grid-boxes .box p {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: white;
}






/* Features Vedio Section  */
.video {
    background-color: #1A0B2E;
}

.video-container {
    width: 75%;
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 120px;
}

.video-container h2 {
    font-size: 48px;
    font-weight: bold;
    color: #ffff;
    text-align: center;
}

.video-container .video-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.video-card .card {
    width: 380px;
    background-color: #250D44;
    border-radius: 20px;
    margin-top: 40px;
}

.card .video-iframe {
    position: relative;
    width: 100%;
    padding-top: 56.18%;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}

.card .video-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-card .card iframe {
    border-radius: 20px 20px 0 0;
}

.video-card .card .video-text {
    padding: 24px;
}

.card .video-text h4 {
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.card .video-text .description {
    font-size: 16px;
    font-weight: 200;
    color: white;
    line-height: 22px;
    margin-top: 12px;
}

.card .video-text .duration {
    font-size: 16px;
    font-weight: 500;
    color: #00FF88;
    margin-top: 12px;
}




/* Host Section  */
.host {
    background-color: #1A0B2E;
}

.host-container {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 120px 0;
}

.host-container>h2 {
    font-size: 48px;
    font-weight: bold;
    color: #ffff;
    text-align: center;
    margin-bottom: 40px;
}

.host-container .host-box {
    width: 100%;
    background-color: #250D44;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 40px;
}

.host-container .host-box img {
    width: 200px;
}

.host-container .host-box .host-text h2 {
    font-size: 32px;
    font-weight: bold;
    color: #ffff;
    margin-bottom: 16px;
}

.host-container .host-box .host-text p {
    font-size: 16px;
    font-weight: 200;
    color: white;
    line-height: 24px;
    margin-bottom: 16px;
}

.host-text .host-icons {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
}

.host-text .host-icons a img {
    width: 16px;
    height: 16px;
    z-index: 10;
}

.host-text .host-icons a {
    position: relative;
    border: 1px solid #9500ff;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    transition: all 1s ease;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.host-text .host-icons a::before {
    position: absolute;
    content: "";
    inset: 0;
    background: linear-gradient(370deg, #9500ff, #ff00b3 20%, #F7E93F);
    opacity: 0;
    transition: opacity 0.6s ease;
    z-index: 0;
}

.host-text .host-icons a:hover::before {
    opacity: 1;
}

.host-text .host-icons a:hover {
    background-color: #9500ff;
}




/* Footer Section  */
footer {
    width: 100%;
    height: 442px;
    background-image: url(./assets/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 105px 0;
}

.footer-container {
    width: 75%;
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}

.footer-container h2 {
    font-size: 80px;
    color: white;
}

.footer-container h2 span {
    color: #F7E93F;
    background-image: linear-gradient(370deg, #F7E93F, #FB09B4 51%, #9500ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-container .sponser {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 32px;
    margin-bottom: 50px;
}

.footer-container .sponser a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.footer-container .sponser .pod {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-container p {
    font-size: 16px;
    font-weight: 300;
    color: #ffff;
}











/* Responsive For Mobile */
@media screen and (max-width:576px) {

    /* Header */
    nav {
        padding: 0 30px;
        height: 65px;
    }
    nav .logo h1 {
        font-size: 32px;
    }
    nav ul,
    nav .btn {
        display: none;
    }
    .menubar {
        display: block;
    }


    /* Hero Section */
    .hero {
        background-image: url(./assets/Header.png);
        width: 100%;
        height: 600px;
    }
    .hero-container {
        width: 90%;
        padding: 80px 0;
    }
    .hero-container .hero-image {
        position: relative;
        width: 200px;
        height: 200px;
    }
    .hero-container .hero-image .hero-circle {
        width: 80;
        height: 80px;
    }
    .hero-image p {
        position: absolute;
        top: -10px;
        right: -10px;
    }



    /* About section */
    .about .about-content h2 {
        font-size: 32px;
        margin-top: 20px;
    }
    .about-container {
        width: 90%;
    }



    /* Why Choose Section  */
    .grid-container h2 {
        font-size: 40px;
    }
    .grid-container {
        width: 90%;
    }
    .grid-container .grid-boxes {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }
    .box-1, .box-2, .box-3, .box-4 {
        grid-column: span 1;
        grid-row: span 1;
        padding: 30px;
        height: auto;
    }


    /* Features Vedio Section  */
    .video-container {
        width: 90%;
    }
    .video-container h2 {
        font-size: 40px;
    }
    .video-container .video-card {
        flex-direction: column;
    }
    .video-card .card {
        width: 100%;
        height: auto;
    }



    /* Host Section  */
    .host-container {
        width: 90%;
        text-align: center;
    }
    .host-container>h2 {
        font-size: 40px;
    }
    .host-container .host-box {
        flex-direction: column;
    }
    .host-text .host-icons {
        justify-content: center;
    }



    /* Footer Section  */
    footer {
        width: 100%;
        height: 300px;
        background-image: url(./assets/Footer.png);
        padding: 35px 0;
    }
    .footer-container {
        width: 90%;
    }
    .footer-container h2 {
        font-size: 50px;
    }
    .footer-container .sponser {
        max-width: 300px;
        flex-wrap: wrap;
        gap: 16px;
    }
}





/* Responxive for tablet (576px to 992 px)*/
@media screen and (min-width: 576px) and (max-width: 992px) {

    /* Header */
    nav {
        padding: 0 30px;
        height: 65px;
    }
    nav .logo h1 {
        font-size: 32px;
    }
    nav ul,
    nav .btn {
        display: none;
    }
    .menubar {
        display: block;
    }


    /* Grid Section */
    .box-1 {
        grid-column: span 3;
        grid-row: span 1;
        padding: 15px 40px;
    }
    .box-2 {
        grid-column: span 3;
        grid-row: span 1;
    }
    .box-3 {
        grid-column: span 3;
        grid-row: span 1;
        height: 300px;
    }
    .box-4 {
        grid-column: span 3;
        grid-row: span 1;
        height: 280px;
    }



    /* Features Video Section */
    .video-container .video-card {
        flex-wrap: wrap;
    }
}